html,body {
    margin: 0;
    padding: 0;
}

.title-bar {
    width: 100%;
    font-family: 'Courier New';
    list-style-type: none;
    background-color: #454545;
    margin: 0px;
    padding-left: 20px;
    box-shadow: 0 4px 8px #888888, 0 6px 20px 0 #888888;
    position: fixed;
    overflow: hidden;
    height: 70px;
    z-index: 1;
}

.title-bar li {
    float: right;
    width: 180px;
    z-index: 1;
}

.title-bar li a{
    display: block;
    height: 26px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 20px 20px;
}

.title-bar li a:hover {
    border-bottom: 4px solid #ffffff;
}

.title-bar li a.active {
    border-bottom: 4px solid #ffffff;
}

.main-content{
    font-family: 'Courier New';
}

.navigation {
    list-style-type: none;
    padding: 15px;
    width: 200px;
    background-color: #ededed;
    border: 1px solid #ccc7c7;
    position: fixed;
    height: 100%;
    padding-top: 80px;
    z-index: 0;
}

.navigation li {
    border-bottom: 2px solid #ccc7c7;
}

.navigation li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navigation li a.active {
    background-color: #43c662;
    color: #ffffff;
}

.navigation li a:hover:not(.active) {
    background-color: #555;
    color: #ffffff;
}

.button {
    margin-top: 40px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    background-color: #555;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
}

.input {
    height: 45px;
    width: 500px;
    border-radius: 20px;
}

.navigation .button {
    padding:0px 0px !important;
}

.button:hover{
    background-color: #43c662;
}

.navigation .button a:hover:not(.active) {
    text-align: center;
    border-radius: 20px;
    background-color: #43c662;
}

.navigation .button a {
    padding: 10px 10px;
    color:#ffffff;
}

.title {
    color : #ffffff;
}

.graph {
    padding-top: 100px;
    padding-left: 450px;
}

table, th, td {
	border: 1px solid #43c662;
}
