<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Temperature and Humidity  Graph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='styles/style.css') }}" />
    <script src="main.js"></script>
</head>
<body>
    <ul class="title-bar">
            <h2 style="float:left" class = "title"> My Raspberry Pi </h2>
	    <li><a href='{{url_for('templimit')}}'>Pushbullet Notification</a></li>
            <li><a href='{{url_for('humid_graph')}}' class="active">Record Graph</a></li>
	    <li><a href='{{url_for('home')}}'>Home</a></li>
    </ul>
    <div class= "main-content">
        <ul class = "navigation">
            <h3>Now is {{ time }}</h3>
            <li><a class="active" href='{{url_for('humid_graph')}}'>Humidity</a></li>
            <li><a href='{{url_for('temp_graph')}}'>Temperature</a></li>
	    <li class="button"><a href='{{url_for('record_humid_temp')}}'>Record Current Humidity and Temperature</a></li> 
        </ul>
        <div class="graph">
            {% include './HumidityLogger/humid_graph.html' %}
        </div>
    </div>
</body>
</html>
